/*STYLE TEXT + BODY*/

    /*Header*/
    h1 {
        font-family: Raleway, sans-serif;
        padding-top: 20px;
        font-size: 35px;
        text-align: center;
        font-weight: 600;
        padding-bottom: 16px;
    }
    
    /* Sub-heaading*/
    h2{
        margin: 10px 50px 10px 50px;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
    }

    .center {
        text-align:center;
    }

    /*Sub-heaading */
    h3 {
        margin: 10px 50px 10px 50px;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
    }

    /*Paragraph text*/
    p {
        margin: 10px 50px 10px 50px;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }

    #outline{
        padding-bottom: 16px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color:  #FDD946;
        color: #003046;
    }

    body{
        background : linear-gradient(45deg, #DCF5F3, #AEE0E0);
    }

/*STYLE NAV BAR*/

    header{
        overflow: hidden;
        background-color: #003046;
        margin: auto;
    }

    nav a {
        text-decoration: none;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 23px;
        padding: 20px 70px;
        display: inline-block;
        margin: auto;
        text-align: center;
    }

    body {
        margin: auto;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;
    }

    nav {
        margin: auto;
        text-align: center;
    }

    a.active {
        color: #43D6B9;
    }

    a:hover {
        color: #FDD946;
    }

    .gwclogo {
        size: auto;
        width: 40px;
        height: 40px;
    }

/*STYLE IMAGE OVERLAY/COLLAGE*/

    /*Style Images*/
    .imageLeft {
        opacity: 0.4;
        margin-top : 50px;
        height : 500px;
        width : 50%;
        float: left;
    }

    .imageRight {
        opacity: 0.4;
        margin-top: 50px;
        height : 500px;
        width : 50%;
        float:right;
    }

    .imageAsBackground{
        opacity : .2;
        height : 100%;
        width: 100%;
    }

    /*Text Overlay*/
    .container{
        min-height: 100vh;
        width: 100%;
        display: flex;
        position: relative;
        text-align: center;
        color: #FDD946;
    }

    .textOverlay{
        margin-top: 300px;
        font-family: "Roboto Light";
        font-size: 90px;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*STYLE MEDIA*/
    /* Create three unequal columns that floats next to each other */
    .column {
        float: left;
        padding: 10px;
    }
    
    /* Left and right column */
    .column.side {
        width: 20%;
    }
    
    /* Middle column */
    .column.middle {
        width: 55%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column.side, .column.middle {
        width: 100%;
        }
    }


